*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Stile contenuto della pagina */
#container {
    width: 80%;
    height: 1000px;
    background-color: #eee;
    margin: 10px auto;
    border-top: 1px solid #eee;
}

/* Stile header */
header {
    background-color: #fff;
    padding-bottom: 10px;
}

#logo {  
    height: 80%;
    width: auto;
    line-height: 80%;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;

}

#logotext {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

/* Stile nav */

.nav-bar {
    width: 80%;
    height: 50px;
    background-color: #fff;
    margin: 5% auto;
    border-radius: 5px 5px 0 0;
}

.add {
    display: inline-block;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    line-height: 30px;
    vertical-align: middle;
    margin-top: 10px;
    padding: 0 10px;
    font-weight: 500;
    color: #ddd;
}

.add.blue {
    border: 2px solid #09f;
    background-color: #09f;
    font-size: 15px;
    color: #fff;
    margin-left: 10%;
}