*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Stile contenuto della pagina */
#container {
    width: 80%;
    height: 1000px;
    background-color: #eee;
    margin: 10px auto;
    border-top: 1px solid #eee;
}

/* Stile header */
header {
    background-color: #fff;
    padding-bottom: 10px;
}

#logo {  
    height: 80%;
    width: auto;
    line-height: 80%;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;

}

#logotext {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

/* Stile nav */
#nav-bar {
    width: 80%;
    height: 50px;
    background-color: #fff;
    margin: 5% auto 0 auto;
    border-radius: 5px 5px 0 0;
}

.add {
    display: inline-block;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    line-height: 30px;
    vertical-align: middle;
    margin-top: 10px;
    padding: 0 10px;
    font-weight: 500;
    color: #ddd;
}

.add.blue {
    border: 2px solid #09f;
    background-color: #09f;
    font-size: 15px;
    color: #fff;
    margin-left: 80px;
}

/* Stile main */
#tasks-list {
    width: 80%;
    height: 800px;
    background-color: #fff;
    margin: 3px auto;
    border-radius: 0 0 5px 5px;
    padding: 50px 80px;
}

#tasks-list section {
    margin-bottom: 50px;
}

.text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.check {
    border: 2px solid black;
    border-radius: 30px;
    padding: 0 5px;
    font-weight: bold;
}

.area {
    background-color: #000;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    padding: 8px;
}