*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* Stile contenuto della pagina */
#container {
    width: 80%;
    background-color: rgba(245, 245, 245, 0.6);
    margin: 10px auto;
    border-top: 1px solid #ddd;
    padding-bottom: 50px;
}

/* Stile header */
header {
    background-color: #fff;
    padding-bottom: 10px;
}

#logo {  
    height: 80%;
    width: auto;
    line-height: 80%;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;

}

#logotext {
    display: inline;
    font-size: 40px;
    vertical-align: middle;
}

/* Stile nav */
#nav-bar {
    width: 80%;
    height: 50px;
    background-color: #fff;
    margin: 5% auto 0 auto;
    border-radius: 5px 5px 0 0;
}

.add {
    display: inline-block;
    height: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    line-height: 30px;
    vertical-align: middle;
    margin-top: 10px;
    padding: 0 10px;
    font-weight: 500;
    color: #ddd;
}

.add.blue {
    border: 2px solid #0af;
    background-color: #0af;
    font-size: 15px;
    color: #fff;
    margin-left: 80px;
}

/* Stile main */
#tasks-list {
    width: 80%;
    background-color: #fff;
    margin: 3px auto;
    border-radius: 0 0 5px 5px;
    padding: 50px 80px;
}

#tasks-list section {
    margin-bottom: 50px;
}

.text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

/* Stile spunte */
.check {
    border-radius: 30px;
    padding: 0 5px;
    font-weight: bold;
}

.check.done {
    border: 2px solid #0c0;
    color: #0c0;
}

.check.undone {
    border: 2px solid #c00;
    color: #c00;
}

/* Stile aree */
.area {
    background-color: #000;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
}

.area.blue {
    background-color: #0af;
}

.area.purple {
    background-color: #909;
}

.area.green {
    background-color: #0c0;
}

.area.orange {
    background-color: #f90;
}

.area.pink {
    background-color: #f5f;
}

.area.yellow-green {
    background-color: #790;
}

.area.none {
    display: none;
}